$black: #000000;
$white: #ffffff;
$pink: #fce8e9;
$coral: #f08b93;
$beige: #f2f1ed;
$grey: #bebebe;

$font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


.Body{
    background-color: $white;
    width: 100%;
    font-family: $font;
    background:linear-gradient($pink, $pink) no-repeat 250px 100px;
    height: 550px;

    h1{
        font-size: 16px;
        text-transform: uppercase;
        text-align: left;
        margin: 15px;
    }

    .divText{
        color: $grey;
        font-size: 14px;
        text-align: left;
        font-weight: 500;
        line-height: 1.5;
        margin: 15px;
    }
}

.puff{
    width: 25%;
    height: 380px;
    background-color: $white;
    border-radius: 3%;
    margin-top: 50px;
    margin-left: 20px;
    color: $black;
    display: inline-block;
    position: relative;
    box-shadow: 1px 15px 50px #f08b934f;
    
    img{
        width: 100%;
        height: auto;
        border-top-left-radius: 3%;
        border-top-right-radius: 3%;
    }

    .imgText{
        position: absolute;
        top: 0px;
        right: 10px;
        background-color:$beige;
        border-radius: 25px;
        width: 120px;
        font-weight: 700;
        font-size: 12px;
        padding: 6px;
        text-transform: uppercase;
    }
}

.button{
    background-color: $coral;
    width: 200px;
    height: 50px;
    border-radius: 30px;
    border: none;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 40px;
    margin-right: 160px;
    float: right;
}

div:focus {
    box-shadow: 2px 2px 8px $grey;
    outline: none;
    transform: scale(1.05);
    transition:all 0.5s ease;
}